doctype html
html(lang="en")
    head
        title Zachariah Bendas - CV
        link(rel="stylesheet", type="text/css", href="styles/cv.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:100i,200,400")
    body
        include includes/menu.pug
        .grid-container
            .content
                h1 Under Construction! :)
                p For now, please view my resume #[a(href="https://docs.google.com/document/d/1AgsE34_F38fcSmvX3fMMZfcz7xiraRxWUzIbkviKuk0/edit?usp=sharing") here ]on Google Drive.
        include includes/scripts.pug