doctype html
html(lang="en")
    head
        title Zachariah Bendas - CV
        link(rel="stylesheet", type="text/css", href="styles/index.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:100i,200,400")
    body
        include includes/menu.pug
        .grid-container
            .content
                h1 Under Construction! :)
        include includes/scripts.pug