doctype html
html(lang="en")
    head
        title Zachariah Bendas
        link(rel="stylesheet", type="text/css", href="styles/index.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:100i,200,400")
    body
        .content
            h1 Hey there, I'm Zach!
            h2
                span Tech Support Professional
                span Amateur Coder
                span Aspiring Developer
                | Pathfinder Fanboy
            .glyphicons
                a#icon-github(href="https://github.com/zbendas/") #[img(src="static/GitHub-Mark-Light-120px-plus.png")]
                a#icon-linkedin(href="https://www.linkedin.com/in/zachariah-bendas") #[img(src="static/In-White-128px-R.png")]
                a#icon-stackoverflow(href="https://stackoverflow.com/users/8785521/zbendas?tab=profile") #[img(src="static/so-icon.svg")]
        .footer.
            Page design inspired by #[a(href="https://dev.to/flexdinesh/create-your-developer-landing-page-with-github-pages---42jk", target="_blank") this DEV.to post]