doctype html
html(lang="en")
    head
        title Zachariah Bendas
        link(rel="stylesheet", type="text/css", href="styles/index.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:100i,200,400")
    body
        include includes/menu.pug
        .grid-container
            .content
                h1 Hey there, I'm Zach!
                h2
                    span Tech Support Professional
                    span Avid Coder
                    span Versatile Developer
                    | Pathfinder Fanboy
                .glyphicons
                    a#icon-github(href="https://github.com/zbendas/", title="My Github") #[img(src="static/glyphicons/GitHub-Mark-Light-120px-plus.png", alt="Github")]
                    a#icon-linkedin(href="https://www.linkedin.com/in/zachariah-bendas", title="My LinkedIn") #[img(src="static/glyphicons/In-White-128px-R.png", alt="LinkedIn")]
                    a#icon-stackoverflow(href="https://stackoverflow.com/users/8785521/zbendas?tab=profile", title="My StackOverflow") #[img(src="static/glyphicons/so-icon.svg", alt="StackOverflow")]
            .footer.
                Page design inspired by #[a(href="https://dev.to/flexdinesh/create-your-developer-landing-page-with-github-pages---42jk", target="_blank") this DEV.to post]
        include includes/scripts.pug