header
    button.hamburger-button(type="button")
        .hamburger-bar
        .hamburger-bar
        .hamburger-bar
    .menu-content
        a(href="index.html") Home
        a(href="cv.html") CV
        a(href="projects.html") Highlighted Projects