@import common

.glyphicons
  margin-top: 5px
  img
    height: 64px
    width: 64px
    margin: 0 5px

.footer
  grid-area: footer
  align-self: end
  font: italic 100 0.66em $font-stack
  justify-self: end
  margin-right: 1%

#icon-github

#icon-linkedin
  margin-left: 10px
//Adjusts for the 10px additional space due to the (R) symbol

#icon-stackoverflow